.panel.panel-default
  .s-bar.s-bar--background
    .ArrangeFlex
      .ArrangeFlex-sizeFit.Box.Box--lg
        i.fa.fa-lightbulb-o
      .ArrangeFlex-sizeFill.Box--y.Box--lg
        h2.milli.s-bar--text
          strong Comap
      .ArrangeFlex-sizeFit.Box--y.Box--lg.s-bar--columnLeft
        a.toggle.eta.btn-sBar(href='#collapse-box' data-toggle="collapse" aria-expanded='true')
          i.fa.fa-chevron-up
          i.fa.fa-chevron-down
  .panel-body#collapse-box.in
    include ../partials/navbar-nav--secundaria
    // Nav tabs
    ul.nav.nav-tabs(role='tablist')
      li.active(role='presentation')
        a(href='#emAndamento', aria-controls='emAndamento', role='tab', data-toggle='tab') Em Andamento
      li(role='presentation')
        a(href='#encerrados', aria-controls='encerrados', role='tab', data-toggle='tab') Encerrados
    // Tab panes
    .tab-content
      #emAndamento.tab-pane.active(role='tabpanel')
        .row
          .col-md-8
            .Box.Box--lg.Box--y
              .row
                .col-md-12
                  .Box.Box--lg.Box--y
                    form.form-inline
                      .row
                        .col-sm-4.col-xs-4
                          .form-group
                            label.control-label.milli(for='quantidade') Quant. de linhas:
                            select.form-control
                              option 1
                              option 2
                              option 3
                              option 4
                              option 555
                        .col-sm-8.col-xs-12
                          .form-group
                            .input-group
                              input.form-control(type='text', placeholder='Buscar')
                              span.input-group-btn
                                button.btn.btn-default(type='button')
                                  i.fa.fa-search
          .col-md-4.text-right
            .form-group
              mixin btn-impress(title, classe, icon, name)
                button.btn.btn-xs(type='button', title=title, data-toggle='tooltip', class=classe)
                  i.fa(class=icon)
                  |  #{name}
              .Box.Box--lg.Box--y
                .btn-block
                  +btn-impress('Imprimir', 'btn-default', 'fa-print', 'Imprimir')
                  | &nbsp;
                  a.btn.btn-xs.btn-success(href='criarItemComap.html', title='Criar Item')
                    i.fa.fa-plus
                    |  Criar Item
        mixin thead(head1, head2, head3, head4, head5, head6, head7, head8, head9)
          thead
            tr
              th #{head1}
              th #{head2}
              th #{head3}
              th #{head4}
              th #{head5}
              th #{head6}
              th #{head7}
              th #{head8}
              th #{head9}
        mixin tr(alert, cond1, cond2, cond3, cond4, cond5, cond6, cond7, cond8, cond9)
          tr(class=alert)
            td(data-th='Trabalho'): a(href='itemComap.html') #{cond1}
            td(data-th='Cliente') #{cond2}
            td(data-th='Atendimento') #{cond3}
            td(data-th='Marketing') #{cond4}
            td(data-th='Criação') #{cond5}
            td(data-th='Produção') #{cond6}
            td(data-th='Status') #{cond7}
            td(data-th='Entrada') #{cond8}
            td(data-th='Checkpoint') #{cond9}
        // Manhã
        table.table.table-hover.table-rp.milli
          +thead('Trabalho', 'Cliente', 'Atendimento', 'Marketing', 'Criação', 'Produção', 'Status', 'Entrada', 'Checkpoint')
          tbody
            +tr('', '16 dias de ativismo', 'Procuradoria da Mulher', 'Roberta', '...', 'Marcelo', '...', 'Criação', '09/09/2016', '10/10/2017')
            +tr('', '16 dias de ativismo', 'Procuradoria da Mulher', 'Roberta', '...', 'Marcelo', '...', 'Criação', '09/09/2016', '10/10/2017')
            +tr('danger', '16 dias de ativismo', 'Procuradoria da Mulher', 'Roberta', '...', 'Marcelo', '...', 'Criação', '09/09/2016', '10/10/2017')
            +tr('', '16 dias de ativismo', 'Procuradoria da Mulher', 'Roberta', '...', 'Marcelo', '...', 'Criação', '09/09/2016', '10/10/2017')
            +tr('', '16 dias de ativismo', 'Procuradoria da Mulher', 'Roberta', '...', 'Marcelo', '...', 'Criação', '09/09/2016', '10/10/2017')
          tfoot
            tr
              td.text-center(colspan='9')
                nav(aria-label='...')
                  ul.pagination.Panel-pagination.pagination-sm
                    li.disabled
                      a(href='#', aria-label='Previous')
                        span(aria-hidden='true') «
                    li.active
                      a(href='#')
                        | 1
                        span.sr-only (current)
                    li
                      a(href='#') 2
                    li
                      a(href='#') 3
                    li
                      a(href='#') 4
                    li
                      a(href='#') 5
                    li
                      a(href='#', aria-label='Next')
                        span(aria-hidden='true') »

      #encerrados.tab-pane(role='tabpanel')
