.panel.panel-default
  .s-bar.s-bar--background
    .ArrangeFlex
      .ArrangeFlex-sizeFit.Box.Box--lg
        i.fa.fa-home
      .ArrangeFlex-sizeFill.Box--y.Box--lg
        h2.milli.s-bar--text
          strong Página Inicial
      .ArrangeFlex-sizeFit.Box--y.Box--lg.s-bar--columnLeft
        a.toggle.eta.btn-sBar(href='#collapse-box' data-toggle="collapse" aria-expanded='true')
          i.fa.fa-chevron-up
          i.fa.fa-chevron-down
  .panel-body#collapse-box.in
    // Nav tabs
    ul.nav.nav-tabs(role='tablist')
      li.active(role='presentation')
        a(href='#pautadia', aria-controls='pautadia', role='tab', data-toggle='tab') Pautas do dia
      li(role='presentation')
        a(href='#pautafutura', aria-controls='pautafutura', role='tab', data-toggle='tab') Pautas futuras
    // Tab panes
    .tab-content
      #pautadia.tab-pane.active(role='tabpanel')
        .row
          .col-md-4
            .Box.Box--lg.Box--y
              form.form-group
                .input-group.date(data-provide='datepicker', data-date-format="dd/mm/yyyy")
                  input#dataPublicacao.form-control(type='text', placeholder='dd/mm/aaaa')
                  .input-group-addon
                    span.fa.fa-calendar

          .col-md-8.text-right
            mixin btn-impress(title, icon, name)
              .dt-buttons
                button.btn.btn-xs.btn-default(type='button', title=title, data-toggle='tooltip')
                  i.fa(class=icon)
                  |  #{name}
            .Box.Box--lg.Box--y
              form.form-group
                .btn-block
                  +btn-impress('Imprimir', 'fa-print', 'Imprimir')

        table.table.table-striped.table-hover.milli.table-rp
          caption.text-right
            button(type='button' class='btn btn-xs +help--content' data-container='body' data-toggle='popover-content' data-placement='top' )
              <span class='fa fa-question-circle'></span> Legenda Veículos
            #popover-content.hide
              ul.list-unstyled
                mixin legenda(icon, text)
                  li
                    p.fa(class= icon)
                    = text
                +legenda('fa-users', 'Agência')
                +legenda('fa-commenting-o', 'Comunicação Interna')
                +legenda('fa-camera', 'Fotografia')
                +legenda('fa-microphone', 'Rádio')
                +legenda('fa-television', 'TV')  
          thead
            tr
              th Hora
              th Editoria
              th Assunto
              th Agência
              th Comunicação Interna
              th Fotografia
              th Rádio
              th TV

          tbody
            mixin btn(href, title, btn, fa, badge)
              .Box--sm
                a.btn.btn-xs(href=href, title=title, class= btn, data-toggle='modal', data-target="#veiculos")
                  span.fa(class=fa)
                  if badge
                    span.Box--sm.Box--x
                      .badge.badge-fix
                        =badge
            tr.text-left
              td(data-th='Hora')
                | 10h00
              td(data-th='Editoria')
                | Senado
              td(data-th='Assunto')
                a(href='paginaInicial--itemPautaGeral.html') Lorem ipsum dolor sit amet, consectetur adipisicing elit
              td(data-th='Agência')
                .responsive
                  +btn('#', 'Agência', 'btn-default', 'fa-list-alt', '5')
              td(data-th='Comunicação Interna')
                .responsive
                  +btn('#', 'Agência', 'btn-default', 'fa-list-alt', '5')
              td(data-th='Fotografia')
                .responsive
                  +btn('#', 'Agência', 'btn-default', 'fa-list-alt', '5')
              td(data-th='Radio')
                .responsive
                  +btn('#', 'Agência', 'btn-default', 'fa-list-alt', '5')
              td(data-th='TV')
                .responsive
                  +btn('#', 'Agência', 'btn-default', 'fa-list-alt', '5')
            tr.text-left
              td(data-th='Hora')
                | 10h00
              td(data-th='Editoria')
                | Senado
              td(data-th='Assunto')
                a(href='paginaInicial--itemPautaGeral.html') Lorem ipsum dolor sit amet, consectetur adipisicing elit
              td(data-th='Agência')
                .responsive
                  +btn('#', 'Agência', 'btn-default', 'fa-list-alt', '5')
              td(data-th='Comunicação Interna')
                .responsive
                  +btn('#', 'Agência', 'btn-default', 'fa-list-alt', '5')
              td(data-th='Fotografia')
                .responsive
                  +btn('#', 'Agência', 'btn-default', 'fa-list-alt', '5')
              td(data-th='Radio')
                .responsive
                  +btn('#', 'Agência', 'btn-default', 'fa-list-alt', '5')
              td(data-th='TV')
                .responsive
                  +btn('#', 'Agência', 'btn-default', 'fa-list-alt', '5')



      #pautafutura.tab-pane(role='tabpanel') ...
include ../modais/veiculos
