.row
  .col-md-9.col-sm-9
    .panel.panel-default
      .s-bar.s-bar--background
        .ArrangeFlex
          .ArrangeFlex-sizeFit.Box.Box--lg
            i.fa.fa-lightbulb-o
          .ArrangeFlex-sizeFill.Box--y.Box--lg
            h2.milli.s-bar--text
              strong Item Comap
          .ArrangeFlex-sizeFit.Box--y.Box--lg.s-bar--columnLeft
            a.toggle.eta.btn-sBar(href='#collapse-box' data-toggle="collapse" aria-expanded='true')
              i.fa.fa-chevron-up
              i.fa.fa-chevron-down
      .panel-body#collapse-box.in
        include ../partials/navbar-nav--secundaria
        // Responsive Select, on only in xs
        .visible-xs
          .form-group
            label(for='mySelect') Selecione
            select.mySelect.select-nav.form-control
              mixin option(value, name)
                option(value=value) #{name}
              +option('#andamento', 'Andamento')
              +option('#briefing', 'Briefing')
              +option('#resultados', 'Resultados')

        // Nav tabs
        ul.nav.nav-tabs.hidden-xs(role='tablist')
          li.active(role='presentation')
            a(href='#andamento', aria-controls='andamento', role='tab', data-toggle='tab') Andamento
          li(role='presentation')
            a(href='#briefing', aria-controls='briefing', role='tab', data-toggle='tab') Briefing
          li(role='presentation')
            a(href='#resultados', aria-controls='resultados', role='tab', data-toggle='tab') Resultados
        // Tab panes
        .tab-content
          h3 16 dias de ativismo
          #andamento.tab-pane.active(role='tabpanel')
            include ../partials/timeLine
          #briefing.tab-pane(role='tabpanel')
            mixin data-list (titulo, descricao)
              dt #{titulo}:
              dd #{descricao}
            dl
              +data-list('Cliente', 'Procuradoria da Mulher')
            dl.dl-horizontal
              mixin data-list (titulo, descricao)
                dt #{titulo}:
                dd #{descricao}
              +data-list('Categoria do trabalho', 'Utilidade Pública')
              +data-list('Prioridade', 'Não')
              +data-list('Endereço na rede', '............................')
              +data-list('Previsão de saída', '10/10/2016')
              +data-list('Resumo', '16 dias de ativismo ')
              +data-list('Público-alvo', 'todo e qualquer cidadão')
            dl
              +data-list('Data de entrada na COMAP', '09/09/2016')
              +data-list('Conceito e linha criativa sugerida', 'livre')
              +data-list('Demandas de produção', 'fotografia, seleção de imagens.')
              +data-list('Objetivos de comunicação', 'conscientizar o cidadão quanto a discriminação que a mulher sofre diariamente. ')

            #accordion.panel-group(role='tablist', aria-multiselectable='true')
              mixin panel-heading (id, icon, title, href, expanded, aria)
                .s-bar.s-bar--background(id=id)
                  .ArrangeFlex
                    .ArrangeFlex-sizeFit.Box.Box--lg
                      i.fa(class=icon)
                    .ArrangeFlex-sizeFill.Box--y.Box--lg
                      h2.milli.s-bar--text
                        strong #{title}
                    .ArrangeFlex-sizeFit.Box--y.Box--lg.s-bar--columnLeft
                      .panel-actions
                        a.toggle.eta.btn-sBar(role='button', data-toggle='collapse', data-parent='#accordion', href=href, aria-expanded=expanded, aria-controls=aria)
                          i.fa.fa-chevron-up
                          i.fa.fa-chevron-down
              mixin loren
                | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

              .panel.panel-default
                +panel-heading('headingFour', 'fa-pencil', 'Descritivo', '#collapseFour','true', 'collapseFour')
                #collapseFour.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingFour')
                  .panel-body
                    +loren

              .panel.panel-default
                +panel-heading('headingOne', 'fa-pencil', 'Contato', '#collapseOne','false', 'collapseOne')
                #collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
                  .panel-body
                    dl.dl-horizontal
                      +data-list('Nome', 'Sergio Salexandre Vieira')
                      +data-list('Telefones', '1714')
                      +data-list('E-mails', 'my@domain.com, my2@domain.com')

              .panel.panel-default
                +panel-heading('headingTwo', 'fa-pencil', 'Equipe', '#collapseTwo','false', 'collapseTwo')
                #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
                  .panel-body
                    dl.dl-horizontal
                      +data-list('Marketing', 'Márcio, Mariana ')
                      +data-list('Criação', 'Mayra, Dalton, Gustavo')
                      +data-list('Atendimento', 'Roberta')
                      +data-list('Produção', '')

              .panel.panel-default
                +panel-heading('headingFive', 'fa-pencil', 'Produtos Demandados', '#collapseFive','false', 'collapseFive')
                #collapseFive.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFive')
                  .panel-body
                    ul
                      li: strong Outros (mídias sociais (capa e foto de perfil, twitter e facebook))
                      li: strong Banner (870cm x 480cm)
                      li: strong Outros (template )
                      li: strong Outros (ilustrações intranet 842px x 505px)
                      li: strong Faixa de mesa (tamanho interlegis 84cm altura X 4,8m largura)

              .panel.panel-default
                +panel-heading('headingThree', 'fa-pencil', 'Produtos Demandados', '#collapseThree','false', 'collapseThree')
                #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
                  .panel-body
                    +loren

          #resultados.tab-pane(role='tabpanel')
            #accordion.panel-group(role='tablist', aria-multiselectable='true')
              dl.dl-horizontal
                +data-list('Previsão de saída', '10/10/2016')
                +data-list('Data de saída', '10/10/2016')
              dl
                +data-list('Recomendações e lições aprendidas', 'Anim pariatur cliche reprehenderit,')
              .panel.panel-default
                +panel-heading('headingSix', 'fa-pencil', 'Produtos Desenvolvidos', '#collapseSix', 'false', 'collapseSix')
                #collapseSix.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingSix')
                  .panel-body
                    +loren



  .col-md-3.col-sm-3
    include ../partials/menu-item


include ../modais/editarAndamento
include ../modais/editarCheckpoint
include ../modais/andamento
include ../modais/checkpoint
include ../modais/historico
include ../modais/excluirItem
include ../modais/editarItem
