ul.list-unstyled.sb.u-posRelative
  li.sb--header.Box--sm.u-spacer--xl
    .Flag.sb--Controlflag
      .Flag-figure.sb--Flagfigure.sb--FlagfigureCompact
        a.btn-jquery(href='#')
          img(src='assets/img/icon-pautas2.svg' alt='Logo sistema'  width="40px" height="40px")
      .Flag-body.sb--Flagbody.milli(class="+white--color")
        | Central de Pautas e Produção Jornalistica
      .Flag-figure.pull-right.sb-compact--icon.hidden-xs
        a.gamma.btn-jquery(href="#" class="+white--color")
          span.fa.fa-ellipsis-v
  mixin item-link(href, icon, title)
    li.Box.u-posStatic_.u-textNoWrap
      a.sb-hover(href=href)
        .sb-menu--Link.sb--text
          button.btn.sb-btn.btn-square(role='button' title='Title')
            span.fa.milli(class=icon)
          span.Box.sb-menu--Label  #{title}
  +item-link('paginaInicial.html', 'fa-home', 'Página Inicial')
  mixin item-drop(icon, title, name)
    li.Box.dropdown.u-posStatic_.u-textNoWrap
      - var id = rand()
      .sb-menu--Link.sb--text.toggle(href='#' data-toggle='collapse' data-target='#' + id aria-expanded='false')
        .pull-right.Box.Box--sm.sb--hidden
          i.fa.fa-plus
          i.fa.fa-minus
        button.btn.sb-btn.btn-square(role='button' title='Title')
          span.fa.milli(class=icon)
        span.Box.sb-menu--Label  #{title}
      .sb-menu.collapse(id=id)
        .sb-menu--Label
          .sb--text.Box #{title}
        ul.list-unstyled.Box(class='+bgdropdown')
          mixin item-drop-li(href, icon, name)
            li
              .row
                a.sb-link(href=href)
                  .col-xs-2
                    | &nbsp;
                    i.fa(class=icon)
                  .col-xs-10
                    | #{name}
          +item-drop-li('agencia.html', 'fa-users', 'Agência')
          +item-drop-li('comap.html', 'fa-lightbulb-o', 'COMAP')
          +item-drop-li('com-interna.html', 'fa-commenting-o', 'Comunicação Interna')
          +item-drop-li('divulgacaoExterna.html', 'fa-rss', 'Divulgação Externa')
          +item-drop-li('fotografia.html', 'fa-camera', 'Fotografia')
          +item-drop-li('radio.html', 'fa-microphone', 'Rádio')
          +item-drop-li('tv.html', 'fa-television', 'TV')
  +item-drop('fa-pencil', 'Pautas')
  +item-link('producao.html', 'fa-file-text', 'Produção')
  +item-link('fontes.html', 'fa-user', 'Fontes')
  +item-link('gerencia.html', 'fa-cog', 'Gerência')
    nav.navbar.u-spacer--xl

